{% if (filetype_loop_jinja2 == "csv") or (filetype_loop_jinja2 == "xlsx") %}VRF,Address Family,Route,Active,Metric,Next Hop Index,Next Hop,Outgoing Interface,Route Preference,Source Protocol{% for vrf in to_parse_routing.vrf %}{% for address_family in to_parse_routing.vrf[vrf].address_family %}{% for route in to_parse_routing.vrf[vrf].address_family[address_family].routes %}{% if to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop is defined %}{% for next_hop in to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.next_hop_list %}
{{ vrf }},{{ address_family }},{{ route }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].metric }},{{ next_hop }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }},N/A,{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].route_preference }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }}{% endfor %}{% else %}{% for outgoing_interface in to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.outgoing_interface %}
{{ vrf }},{{ address_family }},{{ route }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }},N/A,N/A,N/A,{{ outgoing_interface }},N/A,{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }},{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol_codes }}{% endfor %}{% endif %}{% endfor %}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Learn Routing
| VRF | Address Family | Route | Active | Metric | Next Hop Index | Next Hop | Outgoing Interface | Route Preference | Source Protocol |
| --- | -------------- | ----- | ------ | ------ | -------------- | -------- | -------------------| ---------------- | --------------- |{% for vrf in to_parse_routing.vrf %}{% for address_family in to_parse_routing.vrf[vrf].address_family %}{% for route in to_parse_routing.vrf[vrf].address_family[address_family].routes %}{% if to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop is defined %}{% for next_hop in to_parse_routing.vrf[vrf].address_family[address_family].routes.next_hop %}
| {{ vrf }} | {{ address_family }} | {{ route }} | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }} | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].metric }} | {{ next_hop }} | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }} | N/A | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].route_preference }} | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }} |{% endfor %}{% else %}{% for outgoing_interface in to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.outgoing_interface %}
| {{ vrf }} | {{ address_family }} | {{ route }} | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }} | N/A | N/A | N/A | {{ outgoing_interface }} | N/A | {{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }} |{% endfor %}{% endif %}{% endfor %}{% endfor %}{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../styles.css"></head><body>
<h1>Learn Routing</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>VRF</th>
    <th>Address Family</th>
    <th>Route</th>
    <th>Active</th>
    <th>Metric</th>
    <th>Next Hop Index</th>
    <th>Next Hop</th>
    <th>Outgoing Interface</th>
    <th>Route Preference</th>
    <th>Source Protocol</th>
  </tr>{% for vrf in to_parse_routing.vrf %}{% for address_family in to_parse_routing.vrf[vrf].address_family %}{% for route in to_parse_routing.vrf[vrf].address_family[address_family].routes %}{% if to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop is defined %}{% for next_hop in to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.next_hop_list %}
  </thead>
  <tbody>
  <tr>
    <td>{{ vrf }}</td>
    <td>{{ address_family }}</td>
    <td>{{ route }}</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }}</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].metric }}</td>
    <td>{{ next_hop }}</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.next_hop_list[next_hop].next_hop }}</td>
    <td>N/A</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].route_preference }}</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }}</td>{% endfor %}{% else %}{% for outgoing_interface in to_parse_routing.vrf[vrf].address_family[address_family].routes[route].next_hop.outgoing_interface %}
    <td>{{ vrf }}</td>
    <td>{{ address_family }}</td>
    <td>{{ route }}</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].active }}</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>{{ outgoing_interface }}</td>
    <td>N/A</td>
    <td>{{ to_parse_routing.vrf[vrf].address_family[address_family].routes[route].source_protocol }}</td> 
  </tr>{% endfor %}{% endif %}{% endfor %}{% endfor %}{% endfor %}
  </tbody>
</table>
<table class="merlin-table">
  <thead>
  <tr>
    <th>RAW JSON from pyATS</th>
    <th>RAW YAML from pyATS</th>
    <th>CSV File</th>
    <th>Markdown File</th>
    <th>ElasticSearch Schema</th>
    <th>ElasticSearch Search</th>    
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_routing.json">RAW JSON File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_routing.yaml">RAW YAML File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_routing.csv">CSV File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_routing.md">Markdown File</a></td>
    <td><a href="http://localhost:9200/devnet_sandbox_nexus9k_learned_routing?pretty">ElasticSearch Schema</a></td>
    <td><a href="http://localhost:9200/devnet_sandbox_nexus9k_learned_routing/_search?pretty">Index</a></td>
  </tr>
  </tbody>  
</table>
<table class="merlin-table">
  <thead>
    <tr>
      <th>Return to Services List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://localhost:8080">Services List</a></td>
    </tr>
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}