{% if filetype_loop_jinja2 == "csv" %}VRF,Address Family,Route Distinguisher{% for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
{{ vrf }},{{ address_family }},{{ to_parse_vrf[vrf].route_distinguisher }}{% endfor %}{% endfor %}{% else %}{% if filetype_loop_jinja2 == "md" %}
# Learn VRF
| VRF | Address Family | Route Distinguisher |
| --- | -------------- | ------------------- |{% for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
| {{ vrf }} | {{ address_family }} | {{ to_parse_vrf[vrf].route_distinguisher }} |{% endfor %}{% endfor %}{% else %}
<html><head><link rel="stylesheet" href="../../../styles.css"></head><body>
<h1>Learn VRF</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>VRF</th>
    <th>Address Family</th>
    <th>Route Distinguisher</th>
  </tr>
  </thead>
  <tbody>{% for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
  <tr>
    <td>{{ vrf }}</td>
    <td>{{ address_family }}</td>
    <td>{{ to_parse_vrf[vrf].route_distinguisher }}</td>
  </tr>{% endfor %}{% endfor %}
  </tbody>  
</table>
<table class="merlin-table">
  <thead>
  <tr>
    <th>RAW JSON from pyATS</th>
    <th>RAW YAML from pyATS</th>
    <th>CSV File</th>
    <th>Markdown File</th>
    <th>ElasticSearch Schema</th>
    <th>ElasticSearch Search</th>    
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_vrf.json">RAW JSON File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_vrf.yaml">RAW YAML File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_vrf.csv">CSV File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_vrf.md">Markdown File</a></td>
    <td><a href="http://localhost:9200/devnet_sandbox_nexus9k_learned_vrf?pretty">ElasticSearch Schema</a></td>
    <td><a href="http://localhost:9200/devnet_sandbox_nexus9k_learned_vrf/_search?pretty">Index</a></td>    
  </tr>
  </tbody>  
</table>
<table class="merlin-table">
  <thead>
    <tr>
      <th>Return to Services List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://localhost:8080">Services List</a></td>
    </tr>
  </tbody>  
</table>
</body></html>{% endif %}{% endif %}