<html><head><link rel="stylesheet" href="../styles.css"></head><body>
<h1>Learned Config for {{ device_alias }}</h1>
<table class="merlin-table">
  <thead>
  <tr>
    <th>RAW JSON from pyATS</th>
    <th>RAW YAML from pyATS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_config.json">RAW JSON File</a></td>
    <td><a href="/DevNet_Sandbox_Nexus9k_learned_config.yaml">RAW YAML File</a></td>
  </tr>
  </tbody>  
</table>
<table class="merlin-table">
  <thead>
    <tr>
      <th>Return to Services List</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://localhost:8080">Services List</a></td>
    </tr>
  </tbody>  
</table>
</body></html>